<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.lejos.ev3.ldt.LaunchType">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/mal-Tred/src/mal.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="mal"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="mal-Tred"/>
<booleanAttribute key="org.lejos.ev3.ldt.ConnectToName" value="true"/>
<stringAttribute key="org.lejos.ev3.ldt.ConnectionName" value="10.0.1.1"/>
<booleanAttribute key="org.lejos.ev3.ldt.connectionUseDefaults" value="false"/>
<booleanAttribute key="org.lejos.ev3.ldt.debug.runAfterUpload" value="true"/>
<booleanAttribute key="org.lejos.ev3.ldt.debug.useDefaults" value="true"/>
<booleanAttribute key="org.lejos.ev3.ldt.run.runAfterUpload" value="true"/>
<booleanAttribute key="org.lejos.ev3.ldt.run.useDefaults" value="false"/>
</launchConfiguration>
