<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.lejos.ev3.ldt.LaunchType">
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.lejos.ev3.ldt.LaunchEV3ClasspathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value=""/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value=""/>
<booleanAttribute key="org.lejos.ev3.ldt.ConnectToName" value="false"/>
<stringAttribute key="org.lejos.ev3.ldt.ConnectionName" value=""/>
<booleanAttribute key="org.lejos.ev3.ldt.connectionUseDefaults" value="true"/>
<booleanAttribute key="org.lejos.ev3.ldt.debug.runAfterUpload" value="true"/>
<booleanAttribute key="org.lejos.ev3.ldt.debug.useDefaults" value="true"/>
<booleanAttribute key="org.lejos.ev3.ldt.run.runAfterUpload" value="true"/>
<booleanAttribute key="org.lejos.ev3.ldt.run.useDefaults" value="false"/>
</launchConfiguration>
